{% extends "base.html" %}

{% block content %}
<h2>Applicants for {{ job.title }}</h2>

{% if applications %}
    <table border="1" cellpadding="10">
        <tr>
            <th>Candidate</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for app in applications %}
        <tr>
            <td>{{ app.user.get_full_name|default:app.user.email }}</td>
            <td>{{ app.user.email }}</td>
            <td>{{ app.status }}</td>
            <td>
                {% if app.status == "APPLIED" %}
                    <a href="/application/{{ app.id }}/SHORTLISTED/">Shortlist</a> |
                    <a href="/application/{{ app.id }}/REJECTED/">Reject</a>
                {% else %}
                    —
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No applicants yet.</p>
{% endif %}

{% endblock %}
